<!doctype html>
<html lang="en">
<head>

    <title>JesseDecker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skeleton.css') }}">

</head>



<body>
    <header>
        <div class="centerwide">
            <h1><a href='/'>Pantograph Pose Estimation</a></h1>
        </div>
    </header>

    <div>
        <!-- <a href="/chimera">Chimera</a> -->
    </div>

</body>

